<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sign up!</title>
    <script language="JavaScript" type="text/JavaScript" src="../Scripts/jquery.js"></script>
    <link rel="stylesheet" href="../Resources/style.css">
</head>
<body>
    <div class="wait" style="display:none;"><img src='../Resources/giphy.gif' width="120" height="120" /></div>
    <p>
        Username:<input type="text" id="user"><div class="error" id="user_error"></div>
    </p>
    <p>
        Password:<input type="password" id="pwd"><div class="error" id="pwd_error"></div>
    </p>
    <p>
        Repeat Password:<input type="password" id="re_pwd"><div class="error" id="re_error"></div>
    </p>
    <p>
        First name:<input type="text" id="fname">
    </p>
    <p>
        Last name:<input type="text" id="lname">
    </p>
    <p>
        Email:<input type="text" id="email"><div class="error" id="email_error"></div>
    </p>
    <button onclick="submit_new_entry()">Submit</button>
    <button onclick="location.replace('/Views/login.html');">Back</button>
    <script language="JavaScript" type="text/JavaScript" src="../Scripts/signup.js"></script>
</body>
</html>
